@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* https://github.com/JessicaStrachan/front-end-mentor/blob/master/faq-accordion-card/styles/styles.css */

* {
  font-family: "Kumbh Sans", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  width: 757px;
  height: 60vh;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
}

.photoContainer {
  width: 477px;
  height: 347px;
  overflow: hidden;
  /* background-color: yellowgreen; */
}

/* .photoContainer img {
  max-width: 100%;
  max-height: 100%;
} */

#dskPattern {
  position: relative;
  width: 138%;
  z-index: 1;
  left: -72%;
  top: -60%;
}

#illustrationPattern {
  position: absolute;
    z-index: 3;
    width: 11.9%;
    top: 150px;
    right: 912px;
}

#illustrationWoman {
  max-width: 80%;
  max-height: 90%;
  position: relative;
  z-index: 2;
  top: -636px;
  left: -70px;
}
}
