@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* https://github.com/JessicaStrachan/front-end-mentor/blob/master/faq-accordion-card/styles/styles.css 

https://github.com/astroud/frontendmentor-faq-accordion-card

Posibil model - https://astroud.github.io/frontendmentor-faq-accordion-card/

*/

* {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  margin: 0;
}

@media (min-width: 772px) {
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .background {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contentContainer {
    height: 400px;
    width: 700px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 20px 30px 0px hsl(240, 38%, 40%);
  }

  .photoContainer {
    max-height: 100%;
    width: 50%;
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  #dskPattern {
    width: 190%;
    height: 188%;
    position: relative;
    left: -337px;
    top: -230px;
    z-index: 1;
  }

  #illustrationWoman {
    width: 115%;
    height: 75%;
    position: relative;
    left: -70px;
    top: -712px;
    z-index: 2;
  }

  #illustrationBox {
    width: 20.9%;
    height: 38%;
    display: inline-block;
    position: absolute;
    left: -71px;
    top: 152px;
    z-index: 4;
  }

  .faqContainer {
    max-height: 100%;
    width: 50%;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
  }

  .faqContainer h1 {
    padding-top: 10px;
  }

  .accordionLabel {
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    display: inline-block;
    width: 288px;
    font-size: 12px;
    font-weight: 400;
    color: hsl(237, 12%, 33%);
    padding-top: 13px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #e9e9eb;
  }

  .accordionLabel::after {
    content: "";
    position: absolute;
    top: 30%;

    right: -11px;
    width: 12px;
    height: 6px;
    background-image: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .accordionContent {
    display: none;
    font-size: 12px;
    color: hsl(240, 6%, 50%);
    width: 284px;
  }

  .accordionContent p {
    margin: 5px 0px;
  }

  .accordionInput {
    display: none;
  }

  .accordionInput:checked ~ .accordionContent {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #e9e9eb;
  }

  .accordionInput:checked ~ .accordionLabel {
    border-bottom: none;
    font-weight: 700;
  }

  .accordionInput:checked ~ .accordionLabel::after {
    transform: rotate(0.5turn);
    right: -8px;
  }
}

@media (max-width: 771px) {
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .background {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contentContainer {
    width: 306px;
    height: 509px;
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 20px 30px 0px hsl(240, 38%, 40%);
  }

  .photoContainer {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    position: relative;
    /* background-color: green; */
  }

  .faqContainer {
    height: 75%;
    width: 87%;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
  }

  #dskPattern {
    width: 76%;
    height: 182%;
    position: relative;
    left: 28px;
    top: -134px;
    z-index: 1;
  }

  #illustrationWoman {
    width: 75%;
    height: 130%;
    position: relative;
    left: 31px;
    top: -331px;
    z-index: 2;
  }

  #illustrationBox {
    width: 30.9%;
    height: 18%;
    display: inline-block;
    position: absolute;
    left: 26px;
    top: -42px;
    z-index: 4;
  }

  .faqContainer h1 {
    font-size: 40px;
    display: inline-block;
    margin: 0 0 25px 0;
    position: relative;
    left: 84px;
    top: -19px;
  }

  .accordionLabel {
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    display: inline-block;
    width: 255px;
    font-size: 12px;
    font-weight: 400;
    color: hsl(237, 12%, 33%);
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid #e9e9eb;
  }

  .accordionLabel::after {
    content: "";
    position: absolute;
    top: 45%;

    right: -11px;
    width: 12px;
    height: 6px;
    background-image: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .accordionContent {
    display: none;
    font-size: 12px;
    color: hsl(240, 6%, 50%);
    width: 284px;
  }

  .accordionContent p {
    margin: 5px 0px;
    width: 252px;
  }

  .accordionInput {
    display: none;
  }

  .accordionInput:checked ~ .accordionContent {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1.5px solid #e9e9eb;
  }

  .accordionInput:checked ~ .accordionLabel {
    border-bottom: none;
    font-weight: 700;
  }

  .accordionInput:checked ~ .accordionLabel::after {
    transform: rotate(0.5turn);
    right: -8px;
  }
}
