@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  font-family: "Spartan", sans-serif;
}

p {
  font-size: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  max-width: 1440px;
  height: auto;
  margin: auto;
  padding: 40px 50px;
  background-position: top 10px left 10px, top 10px right 10px,
    bottom 10px right 10px, bottom 10px left 10px;
  background-repeat: no-repeat;
  background-image: url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
  display: flex;
  flex-wrap: wrap;
  /* background-color: violet; */
}

.topSubContainer {
  /* background-color: turquoise; */
  width: 1094px;
}
.topSubContainer,
.testimonialsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.testimonialsContainer {
  /* background-color: chartreuse; */
  margin-top: 68px;
}

.testimonalBox {
  background-color: hsl(300, 43%, 22%);
  width: 276px;
  height: 162px;
  margin-right: 28px;
  border-radius: 10px;
  padding: 30px;
  color: white;
  position: relative;
}

.testimonalBox.one,
.two,
.three {
  transition-duration: 0.75s;
  top: 0px;
}

.testimonalBox.one:hover {
  top: -15px;
}

.testimonalBox.two:hover {
  top: -20px;
}

.testimonalBox.three:hover {
  top: -25px;
}

.pictureName {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.testimName {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.testimName h3,
p {
  margin: 0px;
}

.testimName h3 {
  color: white;
}

.testimName p {
  color: hsl(333, 80%, 67%);
}

.testimonalBox img {
  border-radius: 45px;
  width: 40px;
}

.titleContainer {
  /* background-color: tomato; */
  width: 326px;
  flex-wrap: wrap;
  /* display: inline-block; */
  /* margin-left: 150px; */
  margin-top: 40px;
}

.ratingsContainer {
  width: auto;
  margin-left: 250px;

  flex-wrap: wrap;
}

#bigTitle {
  font-size: 40px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  margin: 0px;
}

#subTitle {
  font-weight: 400;
  color: grey;
  padding-top: 15px;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  margin: 2px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 353px;
  height: 30px;
}

.rating:hover {
  box-shadow: 0 0 30px #ccc;
}

.stars {
  margin-left: 20px;
}
.rating p {
  color: #532052;
  font-weight: 700;
  font-size: 12px;
  margin-right: 25px;
  display: inline-block;
  vertical-align: middle;
}

.rating.one {
  position: relative;
  top: 10px;
  left: 20px;
  margin-top: 25px;
}
.rating.two {
  position: relative;
  top: 10px;
  left: 60px;
}

.rating.three {
  position: relative;
  top: 10px;
  left: 100px;
}

.testimonalBox.two {
  position: relative;
  top: 15px;
}

.testimonalBox.three {
  position: relative;
  top: 30px;
}

@media (max-width: 768px) {
  .titleContainer {
    /* background-color: tomato; */
    width: 326px;
    display: flex;
    flex-wrap: wrap;
    /* display: inline-block; */
    /* margin-left: 150px; */
    margin-top: 40px;
    justify-content: center;
    align-content: center;
  }

  #bigTitle,
  #subTitle {
    text-align: center;
  }

  .ratingsContainer {
    /* width: auto; */
    /* margin-left: 100px; */
    flex-wrap: wrap;
    margin-left: 0px;
  }

  .rating p {
    display: block;
    text-align: center;
    padding-bottom: 5px;
    position: relative;
    bottom: 10px;
  }
  .rating.one {
    position: relative;
    top: 10px;
    left: 0px;
    margin-top: 25px;
  }
  .rating.two {
    position: relative;
    top: 10px;
    left: 0px;
  }

  .rating.three {
    position: relative;
    top: 10px;
    left: 0px;
  }
}
